LaunchWidget {
  layout: grid;
  grid-size: 2 1;
  grid-gutter:2;
  margin: 3;
  padding-left: 5;
  padding-right: 5;
  padding-top: 2;
  padding-bottom: 2;
  height: 15;
}

TimeDisplay {
  content-align: center middle;
  text-opacity: 60%;
  height: 3;
}

#watch_button{
  dock:right;
  height: 3;
  content-align: center middle;
}
